<% if @current_user.present? %>
    <div class="row">
      <div class="col-md-4">
        <%=  render :partial => 'users/user_info'%>
      </div>
      <div class="col-md-8">
        <h2>Suggested Friends</h2>
        <%= render :partial => "users/users_gallery" %>
      </div>
    </div>
<% end %>
