<!-- Modal start -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
<!-- Modal end -->


<div class="row">
  <div class="col-md-4">
    <%=  render :partial => 'users/user_info'%>
  </div>
  <div class="col-md-8">
    <% unless @current_user == @user %>
      <% if @current_user.following?(@user) %>
        <%= render 'unfollow_form' %>
      <% else %>
        <%= render 'follow_form' %>
      <% end %>
    <% end %>

    <h1>Tweets</h1>
      <%=  render :partial => 'posts/post' %>
  </div>
</div>
