

<!-- Modal start -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
<!-- Modal end -->

<% if @current_user.present? %>

<div class="row">
  <div class="col-md-4">
    <%=  render :partial => 'users/user_info'%>
  </div>
  <div class="col-md-8">
    <%=  render :partial => 'posts/post_form' %>
    <%=  render :partial => 'posts/post' %>
  </div>
</div>

<% else %>

  <div class="main">
    <h1>Twitter <small>Simplified</small></h1>
    <div class="hippo-head-wrapper">
      <img src="/assets/geo-hippo.gif" alt="">
    </div>
  </div>
  
<% end %>
