// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#new_post{
  margin-top: 2em;
  margin-bottom: -2em;
  margin-left: -1em;
}

.post-form-title{
  margin-bottom: -1em;
}

.post-form-container{
  margin-top: 1em;
}
