// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 70px;
}

.media-list li{
  list-style: none;
}
.signup_wrapper {
  width: 40%;
  margin: 5em auto 0 auto;
  text-align: center;
}
.signupButton{
  width: 100%;
}
.thumb{
    height: 90px;
}

.thumbBox{

  width: 90px;
  overflow: hidden;
  display: inline-block;
  border-radius: 10px;
}

.thumbBox_feed{
  height: 70px;
  width: 70px;
  overflow: hidden;
  display: inline-block;
  border-radius: 10px;
  margin-top: 1.5em;
}
.feed-container{
  margin-top: 4em;

}

.feed-tweet{
  padding-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.feed-tweet h3{
  margin-top: 0.5em;
}
.feed_box{
  border: 1px solid #ddd;
    margin-bottom: -1px;
    padding: 0.7em 0.7em 0.7em 0;
.feed_username{
  display: inline-block;
}

.feed_time{
  display: inline-block;
  margin-left: 5px;
  color: #666;
}
}
.icons{
  display: inline-block;
  margin-right: 5px;
}


.textBox{
  display: inline-block;
}


.thumbInfo{

}
.user_info_pic{
  max-width: 250px;
  border-radius: 20px;
}

.user_info_text{
  margin-top: 1em;
}

.upload_profile_image{
  max-width: 200px;
}

.easter-wrapper{
  width: 100%;
  border-radius: 50%;
}
