// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup_wrapper {
  width: 40%;
  margin: 5em auto 0 auto;
  text-align: center;
}
.signupButton{
  width: 100%;
}
.thumb{
  width: 100%;
}

.thumbBox{
  height: 90px;
  width: 90px;
  overflow: hidden;
  display: inline-block;
  border-radius: 10px;
}

.textBox{
  display: inline-block;
}


.thumbInfo{

}
.user_info_pic{
  max-width: 250px;
}

.upload_profile_image{
  max-width: 200px;
}
