// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thumb{
  width: 100%;
}

.thumbBox{
  height: 70px;
  width: 70px;
  overflow: hidden;
  display: inline-block;
}

.textBox{
  display: inline-block;
}


.thumbInfo{

}
.user_info_pic{
  max-width: 250px;
}

.upload_profile_image{
  max-width: 200px;
}
